<h1>Today Posts!</h1>
<div>
    <% if @posts.blank? %>
        <h3>No post for today yet. </h3>
    <% end %>
    <ul>
        <% @posts.each do |post| %>
        <li><%= link_to post.body, post %> -- <%= post.user.name %></li> 
        <% end %>
    </ul>
</div>

    <% if can_create_post? %>
        <h2>Add Post!</h2>
        <%= render 'posts/form' %>
    <% end %>

