<h1>Groups#show</h1>
<div>
    <ul>
        <% @posts.each do |post| %>
        <li><%= link_to post.body, post %> -- <%= post.user.name %></li> 
        <% end %>
    </ul>
</div>

    <% if can_create_post? %>
    <%= render 'posts/form' %>
    <% end %>

