<h1>
    <%= @post.body %>
</h1>
    <ul>
        <% @comments.each do |comment| %>
            <li>
                <%= comment.body %>--
                <%= comment.user.name %>
            </li>
        <% end %>
    </ul>